.body {
    color: white;
    background-image: url(../rsschool-cv/assets/img/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    font-size: large;
    text-shadow: 1px 0 1px #000,
        0 1px 1px #000,
        -1px 0 1px #000,
        0 -1px 1px #000;
}

a {
    text-decoration: none;
    color: yellow;
}

.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.nav {
    position: sticky;
    top: 0px;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
}

.nav li {
    list-style-type: none;
    padding: 0.8rem;
    border: 1px solid white;
}

.article {
    display: flex;
    flex-flow: column wrap;
   flex: 0 1 auto;
}

footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}