body {
    color: white;
    background-image: url(../rsschool-cv/assets/img/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    text-align: left;
    position: relative;
    display: block;
    max-width: 1200px;
    margin: auto;
    font-size: large;
    text-shadow: 1px 0 1px #000,
        0 1px 1px #000,
        -1px 0 1px #000,
        0 -1px 1px #000;
}
a { 
    text-decoration: none;
    color: yellow;
}
.nav {
    display: flex;
    justify-content: space-around;
}
.nav li {
    list-style-type: none;
    padding: 1rem;
    border: 1px solid white;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
}
